{{#if category}}
  <button 
    class="btn btn-default category-files-button" 
    {{action "openCategoryFilesPopup" category}}
    title={{i18n "category_files_button.title"}}
  >
    {{d-icon "reply"}}
    {{i18n "category_files_button.title"}}
  </button>
{{/if}}
